.heart-game {
  padding: 70px 20px;
  text-align: center;
  color: #fffc5d;
}

.game-hint {
  opacity: 0.7;
  margin-bottom: 20px;
}

#gameArea {
  position: relative;   
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.game-heart {
  position: absolute;
  font-size: 32px;
  cursor: pointer;
  animation: float 6s linear infinite;
}

@keyframes float {
  from {
    transform: translateY(350px);
    opacity: 0;
  }
  to {
    transform: translateY(-50px);
    opacity: 1;
  }
}

/* модалка */
.game-modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.9);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.game-box {
  background: #111;
  padding: 35px;
  border-radius: 25px;
  text-align: center;
}

.game-box p {
  font-size: 22px;
  color: #fff;
  margin-bottom: 20px;
}
